<section class="block container block-domain">
    <header class="block__header">
        <h2 class="block__heading">The best webHosting Starting at $9 per month</h2>
        <p class="tagline">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, aspernatur. Laudantium aliquam molestiae
            fuga repellat harum? Optio ex necessitatibus illo!
        </p>
        <div class="input-group">
            <input type="text" class="input" placeholder="Enter domain name here..." />
            <div class="btn btn--accent">
                <svg class="icon icon--white">
                    <use xlink:href="icons/sprite.svg#search"></use>
                </svg>
                search
            </div>
        </div>
    </header>

    <ul class="list block-domain__pricing">
        <li>.com $9.26</li>
        <li><span class="badge badge--secondary">.sg $7.91</span></li>
        <li>.space $12</li>
        <li>.info $14.15</li>
        <li>.net $16.15</li>
        <li>.xyz $10.15</li>
    </ul>
</section>
