<section class="block block--dark block--skewed--right show-case">
    <header class="block__header">
        <h2 class="block__heading">User-Friendly Control Panel</h2>
    </header>

    <div class="grid grid--1x2">
        <picture>
            <source type="image/webp" srcset="images/ipad@1x.webp 1x, images/ipad@2x.webp 2x" />

            <source type="image/png" srcset="images/ipad@1x.png 1x, images/ipad@2x.png 2x" />

            <img
                src="images/ipad@2x.png"
                alt="A photo for showing easy to use of control panel"
                class="show-case__image"
            />
        </picture>
        <div class="media-block">
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="icons/sprite.svg#snap"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy Start & Manage Updates</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo quisquam
                        magnam, eius debitis eveniet.
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="icons/sprite.svg#growth"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy Start & Manage Updates</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti impedit id, veniam odit sed
                        nesciunt.
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--primary">
                        <use xlink:href="icons/sprite.svg#wordpress"></use>
                    </svg>
                </div>
                <div class="media__body">
                    <h3 class="media__title">Easy Start & Manage Updates</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur impedit at sequi
                        dignissimos eius non?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
